</div><!-- /.container -->
<!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<footer>
  © Copyright 2020
  Developed by | <a href="https://linkedIn.com/in/namangarg5261" target="_blank"> Naman Garg</a>
  <ol class="footerSocial">
  <a href="http://www.facebook.com/naman.garg.9026" target="_blank"><i class="fa fa-facebook"></i></a>		
  <a href="http://www.linkedin.com/in/namangarg5261" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="http://www.instagram.com/namangarg5261" target="_blank"><i class="fa fa-instagram"></i></a>
  </ol>
</footer>
</body>
</html>